@model Trading.Models.Trade

@{
    ViewData["Title"] = "Deletar Negociação";
}

<div asp-validation-summary="ModelOnly"></div>
<form method="post" asp-route="SaveTrade">
    <input asp-for="Id" type="hidden" />
    <div class="form-group col-lg-12">
        <label asp-for="Code">Código </label>
        <input asp-for="Code" type="text" class="form-control" placeholder="Código da Mercadoria">
    </div>
    <div class="form-group col-lg-12">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Nome da Mercadoria">
    </div>
    <div class="form-group col-lg-12">
        <label asp-for="Type">Tipo</label>
        <input asp-for="Type" type="text" class="form-control" placeholder="Tipo da Mercadoria">
    </div>
    <div class="form-group row col-lg-12">
        <div class="form-group col-lg-6">
            <label asp-for="Quantity">Quantidade</label>
            <input asp-for="Quantity" type="text" class="form-control" placeholder="Quantidade da Mercadoria">
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="Price">Preço</label>
            <input asp-for="Price" type="text" class="form-control" placeholder="Preço da Mercadoria">
        </div>
    </div>
    <div class="form-group row col-lg-12">
        <label class="col-form-legend col-sm-2">Tipo do Negócio</label>
        <div class="col-lg-12">
            <div class="form-check">
                <label asp-for="BusinessType" class="form-check-label">
                    <input asp-for="BusinessType" class="form-check-input" type="radio" value="Buy">
                    Compra
                </label>
            </div>
            <div class="form-check">
                <label asp-for="BusinessType" class="form-check-label">
                    <input asp-for="BusinessType" class="form-check-input" type="radio" value="Sell">
                    Venda
                </label>
            </div>
            <span asp-validation-for="BusinessType"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary col-lg-12 confirmation-btn">Confirmar</button>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}